<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>index page</h1>
<button onclick= "f1()">버튼</button>
<div id="result"></div>

<script>

function f1(){
	const xhttp = new XMLHttpRequest();	
	xhttp.onload = function() {
	document.getElementById("result").innerHTML = this.responseText;
	}
	xhttp.open("get", "http://localhost:8865/api/test");	
	//xhttp.setRequestHeader("Content-type", "application/json");	

	xhttp.send();

}

</script>

</body>
</html>